# folders
.svn/
bin/
obj/
bundle/
bundles/
packages/
temp/
test-results/
xunit-test-results/

# filetypes
*.bak
*.Cache
*.chw
*.dbmdl
*.dll
*.dotCover
*.exe
*.log
*.pdb
*.suo
*.svn-base
*.user
*.vs10x
*.Publish.xml
*.Resharper.user
*.sln.cache
*.sln.docstates

# files
all-wcprops
Ankh.Load
Ankh.NoLoad
entries
lint.db
Reflector.cfg
StyleCop.Cache
Thumbs.db

# file patterns
*crunchproject*
*crunchsolution*
_Resharper*