<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cavity.Core" version="2.0.0.970" targetFramework="net40" />
  <package id="Cavity.Testing.Unit" version="2.0.0.848" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net40" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net40" />
</packages>